#iconHouse {
    margin-bottom: 3px;
}

.itemListFooter {
    margin-top: 5px;
    margin-left: 15px;
}

.listFooter {
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

footer {
    text-align: center;
}